.card {
    width: 19rem;
    float: left;
    margin: 10px;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
    border-radius: 2px;
    color: #000;
    text-decoration: none;
}

.card-header {
    background-color: #337ab7 !important;
    color: #FFF;
}

.card-footer span {
    padding: 15px;
}
  